body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: rgb(228, 38, 24);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav a {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: opacity 0.4s ease;
}

nav a:hover {
    opacity: 50%;
}

nav a.active {
    opacity: 50%;
    pointer-events: none;
}

main {
    text-align: center;
}

title {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

button {
    background-color: rgb(228, 38, 24);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    transition: opacity 0.4s ease;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

button:hover {
    opacity: 50%;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.btn-flip{
    opacity: 1;
    outline: 0;
    color: rgb(255, 255, 255);
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
  
    &:hover{

        &:after{
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before{
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }
  
    &:after{
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: rgb(255, 255, 255);
        display: block;
        transition: 0.5s;
        position: absolute;
        background: rgb(228, 38, 24);
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        padding: 12px 20px;
        width: 600px;
        max-width: 600px;
        font-size: 16px;
    }
  
    &:before{
        top: 0;
        left: 0;
        opacity: 1;
        color: rgb(255, 255, 255);
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: rgb(228, 38, 24);
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        padding: 12px 20px;
        width: 600px;
        max-width: 600px;
        font-size: 20px;
    }
}